.page__photo-background {
  background-image: url("../../assets/backgroundPhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  margin-bottom: 0;
  padding-bottom: 22px;
}
