.nav {
  display: flex;
  padding: 0;
  gap: 42px;
  align-items: center;
  font-family: "Roboto 500", "sans-serif";
}
.nav__link-home {
  color: white;
  text-decoration: none;
  padding: 30px 0 26px 0;
}

.nav__button-sign-in {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid white;
  color: white;
  width: 176px;
  height: 48px;
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
