.search__bar {
  display: flex;
  position: relative;
  align-items: center;
  padding: 88px 416px 80px 416px;
}

.search__bar-input {
  width: 608px;
  height: 62px;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  background-color: white;
  padding-left: 24px;
  color: black;
  font-size: 16px;
  line-height: 22px;
}

.search__bar-input::placeholder {
  color: #b6bcbf;
}

.search__bar-button {
  border: none;
  border-radius: 100px;
  height: 64px;
  width: 168px;
  background-color: #2f71e5;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 60%;
  font-size: 18px;
  line-height: 24px;
}

.search__bar-button:hover {
  background-color: #347eff;
}

.search__bar-button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 767px) {
  .search__bar {
    display: flex;
    flex-direction: column;
    padding: 122px 0 32px 0;
    gap: 16px;
    align-items: center;
  }

  .search__bar-input {
    width: 288px;
    height: 56px;
    font-size: 16px;
    line-height: 22px;
  }

  .search__bar-button {
    height: 56px;
    width: 288px;
    position: static;
    left: auto;
  }
}
