.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px 26px 104px;
}
.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.footer__nav {
  display: flex;
  gap: 40px;
}
.footer__link {
  text-decoration: none;
  color: black;
}

.footer__social {
  display: flex;
  margin: 0;
  gap: 24px;
}

.footer__icon {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 16px 22px 16px;
  }

  .footer__text {
    margin-top: 20px;
    text-align: center;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer__social {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
  }
}
